# Node.js dependencies
node_modules/
*.log
yarn.lock
package-lock.json

# Environment variables
.env
.env.* 

# Build and output directories
dist/
build/
out/
coverage/
.DS_Store

# Temporary files
*.tmp
*.swp
*.pid
*.seed
*.pid.lock

# Logs and debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids/
logs/

# OS-specific files
Thumbs.db
.DS_Store

# IDE/Editor files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Testing and linting
.nyc_output/
.jest/
eslintcache
